@charset "UTF-8";
body {
 background-color:cadetblue;
 text-align: center;
 color:aliceblue
}
.ul {
	text-align: center;
}
div {
text-align:center;
}
ul {
padding:0;
margin:0;
}
ul li {
padding-left:8px;
list-style:none;
margin-bottom:6px;
}
h3 {
 color:black;
}
h4 {
 color:black;
}
h1 {
 color:black;
}
a:visited {color:lightsteelblue;}
a:hover {font:bold;}
a:active {color:whitesmoke;} 