@charset "UTF-8";
body {
 background-color:beige;
 text-align: center;
}
.ul {
	text-align: center;
}
div {
text-align:center;
}
ul {
padding:0;
margin:0;
}
ul li {
padding-left:8px;
list-style:none;
margin-bottom:6px;
}