h1 {color:#008080;
font-family:Arial;
text-align: center;
border: solid medium;
 border-color: white;}

h2 {color:#0000FF;
font-family: "Garamond;
text-align: center}
body {background-color:#b19cd9;
border: solid medium;
border-color: #0000FF;}

ul {color:#0000FF;
text-align: center;
list-style-position: inside;}
ol {color:#0000FF;
text-align: center;
list-style-position: inside;}

p {font-family: arial";
color: #0000FF;
text-align: center;}

a:visited {color: #0000FF}

a:hover {color:#008080}

hr {color:#0000FF;
 style: solid medium}
